{% extends 'landing/base.html' %}

{% block content %}



<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 text-center">
            <h1 class="display-2">Simta</h1>
            <p class="mt-3 lead">Karena Hidup Perlu Banyak</p>
            <div class="d-flex justify-content-center mt-5">
                <a href="tendik/" class="btn btn-light mr-2">Log In</a>
                <a href="mhs/" class="btn btn-light mr-2">Log In Mhs</a>
                <a href="pembimbing/" class="btn btn-light mr-2">Log In Dosen</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
