{% extends 'main-mhs.html' %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">buku panduan</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Buku panduan</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Silakan mendownload buku panduan di bawah.
                <!-- <a target="_blank" href="https://datatables.net/">official DataTables documentation</a> -->
                
            </div>
        </div>

        <div>
            <div class="mb-3">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-transparant" for="btncheck1"><span><i class="fas fa-file-download"></i></span> <span>file proposal</span></label>
            </div>  
        </div>
        
{%endblock%}