{% extends 'main-mhs.html' %}

{% block content %}

  <main>
      <div class="container-fluid px-4">
          <h1 class="mt-4">Dashboard Mahasiswa</h1>
          <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">Dashboard</li>
          </ol>
          <div class="row">
              <div class="col-xl-4 col-md-6">
                  <div class="card bg-success text-white mb-4">
                      <center>
                      <div class="card-body">Mahasiswa Aktif</div>
                          <h1>{{jml_mahasiswa}}</h1>
                      </center>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6">
                  <div class="card bg-success text-white mb-4">
                    <center>
                      <div class="card-body">Dosen Pembimbing</div>
                      <h1>{{jml_pembimbing}}</h1>
                    </center>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6">
                  <div class="card bg-success text-white mb-4">
                    <center>
                      <div class="card-body">Pengajuan Judul</div>
                        <h1>{{jml_pengajuan_judul}}</h1>
                    </center>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6">
                  <div class="card bg-success text-white mb-4">
                    <center>
                      <div class="card-body">Pengajuan Proposal</div>
                        <h1>{{jml_pengajuan_proposal}}</h1>
                    </center>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6">
                  <div class="card bg-success text-white mb-4">
                    <center>
                      <div class="card-body">Pengajuan Tugas Akhir</div>
                        <h1>{{jml_pengajuan_ta}}</h1>
                    </center>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6">
                  <div class="card bg-success text-white mb-4">
                    <center>
                      <div class="card-body">Bimbingan</div>
                        <h1>{{jml_bimbingan}}</h1>
                    </center>
                  </div>
              </div>
              
          </div>
          <div class="row">
              <div class="col-xl-6">
                  <div class="card mb-4">
                      <div class="card-header">
                          <i class="fas fa-chart-area me-1"></i>
                          informasi Akademik
                      </div>
                      <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                  </div>
              </div>
              <div class="col-xl-6">
                  <div class="card mb-4">
                      <div class="card-header">
                          <i class="fas fa-chart-bar me-1"></i>
                          Informasi non Akademik
                      </div>
                      <div class="card-body"><canvas id="myBarChart" width="100%" height="40">{{jml_mahasiswa}}</canvas>
                      </div>
                      
                    </div>
                </div>
            </div> 
        </main>
{% endblock %}