{% extends 'main-mhs.html' %}

{% block content %}
<main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Proposal</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Proposal</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body " >
                    <var>

                        DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                    </var> 
                    <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                    .
                </div>
            </div>
            <div class="card mb-4 ">
                <div class="card-header d-flex justify-content-between card-header">
                    <div>
                        <i class="fas fa-table me-1"></i>
                        proposal     
                    </div>
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalToggleLabel">silakan isi data terlebih dahulu</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                      <label for="exampleInputNim" class="form-label">Nama</label>
                                      <input type="integer" class="form-control" id="exampleInputNim" aria-describedby="NimHelp">
                                      
                                    </div>
                                    <div class="mb-3">
                                      <label for="exampleInputnama" class="form-label">Nim</label>
                                      <input type="text" class="form-control" id="exampleInputnama" aria-describedby="namaHelp">
                                      
                                    </div>
                                    <div class="mb-3">
                                      <label for="exampleInputnama" class="form-label">Judul</label>
                                      <input type="text" class="form-control" id="exampleInputnama" aria-describedby="namaHelp">
                                      
                                    </div>
                                    <select class="mb-3 form-select" aria-label="Default select example">
                                      <option selected>Pembimbing 1</option>
                                      <option value="1">Rizal</option>
                                      <option value="2">Yasin</option>
                                      <option value="3">Venna</option>
                                    </select>
                                  <select class="mb-3 form-select" aria-label="Default select example">
                                      <option selected>Pembimbing 2</option>
                                      <option value="1">Rizal</option>
                                      <option value="2">Yasin</option>
                                      <option value="3">Venna</option>
                                    </select>
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Unggah Proposal</label>
                                        <input class="form-control" type="file" id="formFile">
                                      </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-light" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">close</button>
                                <button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">submit</button>
                            </div>
                          </div>
                        </div>
                      </div>
                     <div>
                         <div>
                             <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </span><span>
                                Tambah data
                            </span></a>
                         </div>
                        
                     </div>
                
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead style="background-color: #198754">
                            <tr>
                                <th style="width: 3%; text-align: center; color: aliceblue;">No</th>
                                <th style="width: 15%; text-align: center; color: aliceblue;">Nama</th>
                                <th style="width: 7%; text-align: center; color: aliceblue;">NIM</th>
                                <th style="width: 20%; text-align: center; color: aliceblue;">Judul</th>
                                <th style="width: 10%; text-align: center; color: aliceblue">Pembimbing 1</th>
                                <th style="width: 10%; text-align: center; color: aliceblue">Pembimbing 2</th>
                                <th style="width: 5%;text-align: center; color: aliceblue">Proposal</th>
                                <th style="width: 5%;text-align: center; color: aliceblue">Aksi</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>yasin</td>
                                <td>Nim</td>
                                <td>Nim</td>
                                <td>vena</td>
                                <td>vena</td>
                                <td class="text-center">
                                    <label class="btn btn-outline-transparant " for="btncheck1"><span ><i class="fas fa-file-download text-center"></i></label>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-between ">
            
                                        <div class="mx-3" >
        
                                            <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModal" role="button"><span>
                                                   <i class="" aria-hidden="true"></i>
                                            </span><span>
                                            Detail
                                            </span></a>
                                        </div>
                                    </div>                                 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Informasi</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form>
                                <fieldset disabled>
                                  <div class="mb-3">
                                    <label for="disabledTextInput" class="form-label">Status</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                  </div>
                                  <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Feedback</label>
                                    <textarea class="form-control" id="message-text"></textarea>
                                  </div>
                                </fieldset>
                                </form>
                </div>
                <div>

                   
                </div>
                    
            </div>
        </div>
    </main>
{% endblock %}