{% extends 'main-mhs.html' %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Seminar Proposal</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">seminar Proposal</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body btn-white">
            <var>

                silakan mengisi data terlebih dahulu.
            </var> 

            <a target="_blank" href="https://datatables.net/">info</a>
            
        </div> 
    </div>
    <div class="card mb-4 ">
        <div class="card-header d-flex justify-content-between card-header">
            <div>
                <i class="fas fa-table me-1"></i>
                proposal     
            </div>
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel">silakan isi data terlebih dahulu</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead style="background-color: #198754">
                <tr>
                    <th style="width: 3%; text-align: center; color: aliceblue;">No</th>
                    <th style="width: 15%; text-align: center; color: aliceblue;">Nama</th>
                    <th style="width: 5%; text-align: center; color: aliceblue;">Nim</th>
                    <th style="width: 10%; text-align: center; color: aliceblue;">Fakultas</th>
                    <th style="width: 10%; text-align: center; color: aliceblue;">Prodi</th>
                    <th style="width: 10%; text-align: center; color: aliceblue;">Pembimbing 1</th>
                    <th style="width: 10%; text-align: center; color: aliceblue;">Pembimbing 2</th>
                    <th style="width: 7%; text-align: center; color: aliceblue">Aksi</th>
                </tr>
            </thead> 
            <tbody>
                {%for i in pembimbing%}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.pembimbing_1}}</td>
                <td></td>
                <td>{{i.pembimbing_2}}</td>
                <td></td>
                <td>
                    <a href="hapus-pembimbing/{{i.id}}">Hapus</a>
                </td>
            </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="modal-body"> -->
    <form>
        <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
            <div class="mx-3">
                <label for="disabledTextInput" class="form-label">Nama</label>
                <input type="text" id="disabledTextInput" class="form-control " placeholder="Nama">
            </div>
        </div>
        <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
            <div class="mx-3">
                <label for="disabledTextInput" class="form-label">NIM</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Nim">
            </div>
        </div>
        <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
            <div class="mx-3">
                <label for="disabledTextInput" class="form-label">Fakultas</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="fakultas">
            </div>
        </div>
        <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
            <div class="mx-3">
                <label for="disabledTextInput" class="form-label">Prodi</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="prodi">
            </div>
        </div>
        <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
            <div class="mx-3">
                <label for="disabledTextInput" class="form-label">Pembimbing 1</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="pembimbin 1">
            </div>
        </div>
        <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
            <div class="mx-3">
                <label for="disabledTextInput" class="form-label">Pembimbing 2</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="pembimbing 2">
            </div>
        </div>
            <hr>
        
        <div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Judul</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Judul proposal">
            </div>
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Unggah file</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
          </div>
        <div class="">
            <label for="message-text" class="col-form-label">Abstrak</label>
            <textarea class="form-control" id="message-text"></textarea>
        </div>
    </form>
    <!-- </div>
    <div class="modal-footer">
    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Daftar Seminar Proposal</button>
    </div>
</div>
{%endblock%}