{% extends 'main-mhs.html' %}

{% block content %}
<main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Tugas Akhir</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tugas Akhir</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body " >
                    <var>

                        DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                    </var> 
                    <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                    .
                </div>
            </div>
            <div class="card mb-4 ">
                <div class="card-header d-flex justify-content-between card-header">
                    <div>
                        <i class="fas fa-table me-1"></i>
                        Tugas Akhir     
                    </div>
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalToggleLabel">silakan isi data terlebih dahulu</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                  {% csrf_token %}
                                    <div class="mb-3">
                                      <label for="exampleInputNim" class="form-label">Nim</label>
                                      <input name="nim" type="integer" class="form-control" id="exampleInputNim" aria-describedby="NimHelp">
                                      
                                    </div>
                                    <div class="mb-3">
                                      <label for="exampleInputnama" class="form-label">Nama</label>
                                      <input name="nama" type="text" class="form-control" id="exampleInputnama" aria-describedby="namaHelp">
                                      
                                    </div>
                                    <div class="mb-3">
                                      <label for="exampleInputnama" class="form-label">Judul</label>
                                      <input name="judul" type="text" class="form-control" id="exampleInputnama" aria-describedby="namaHelp">
                                      
                                    </div>
                                    <select class="mb-3 form-select" aria-label="Default select example" name="pembimbing_1">
                                      <option selected>Pembimbing 1</option>
                                      {%for i in data_pemb%}
                                      <option value="{{i.nama}}">{{i.nama}}</option>
                                      {%endfor%}
                                  </select>
                                  <select class="mb-3 form-select" aria-label="Default select example" name="pembimbing_2" >
                                      <option selected>Pembimbing 2</option>
                                      {%for i in data_pemb%}
                                      <option value="{{i.nama}}">{{i.nama}}</option>
                                      {%endfor%}
                                    </select>
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Unggah Tugas Akhir</label>
                                        <input class="form-control" type="file" id="formFile">
                                      </div>
                                      <div class="modal-footer">
                                          <button class="submit"  data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">close</button>
                                          <button class="submit"  data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">submit</button>
                                      </div>
                                  </form>
                            </div>
                          </div>
                        </div>
                      </div>
                     <div>
                         <div>
                                <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </span><span>
                                Tambah data
                            </span></a>
                         </div>
                        
                     </div>
                
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered">
                      <thead style="background-color: #198754">
                            <tr>
                                <th style="width: 3%; text-align: center; color: aliceblue;">NO</th>
                                <th style="width: 7%; text-align: center; color: aliceblue;">NIM</th>
                                <th style="width: 15%; text-align: center; color: aliceblue;">NAMA</th>
                                <th style="width: 20%; text-align: center; color: aliceblue">JUDUL</th>
                                <th style="width: 10%; text-align: center; color: aliceblue">PEMBIMBING 1</th>
                                <th style="width: 10%; text-align: center; color: aliceblue">PEMBIMBING 2</th>
                                <th style="width: 7%; text-align: center; color: aliceblue">TUGAS AKHIR</th>
                                <th style="width: 5%;text-align: center; color: aliceblue">AKSI</th>
                            </tr>
                        </thead> 
                        <tbody>
                          {%for i in ta%}
                            <tr>
                              <td>{{forloop.counter}}</td>
                              <td>{{i.nim}}</td>
                              <td>{{i.nama}}</td>
                              <td>{{i.judul}}</td>
                              <td>{{i.pembimbing_1}}</td>
                              <td>{{i.pembimbing_2}}</td>
                                <td class="text-center">
                                    <label class="btn btn-outline-transparant " for="btncheck1"><span ><i class="fas fa-file-download text-center"></i></label>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-between ">
            
                                        <div class="mx-3" >
        
                                            <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModal" role="button"><span>
                                                   <i class="" aria-hidden="true"></i>
                                            </span><span>
                                            Detail
                                            </span></a>
                                        </div>
                                    </div>                                 
                                </td>
                            </tr>
                          {%endfor%}
                          </tbody>
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Informasi</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form>
                                    <fieldset disabled>
                                      <div class="mb-3">
                                        <label for="disabledTextInput" class="form-label">Status</label>
                                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                      </div>
                                      <div class="mb-3">
                                        <label for="message-text" class="col-form-label">Feedback</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                      </div>
                                    </fieldset>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                    </table>
                </div>
                <div>

                   
                </div>
                    
            </div>
        </div>
    </main>
{% endblock %}