<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-success" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="/pembimbing">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Pengajuan
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-table"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/pembimbing/pengajuan-judul">Pengajuan Judul</a>
                        <a class="nav-link" href="/pembimbing/pengajuan-proposal">Pengajuan Proposal</a>
                        <a class="nav-link" href="/pembimbing/pengajuan-ta">Pengajuan TA</a>
                    </nav>
                </div>
               
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Bimbingan
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-table"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/pembimbing/permintaan-bimbingan">Permintaan Bimbingan</a>
                        <a class="nav-link" href="/pembimbing/bimbingan-proposal">Bimbingan proposal</a>
                        <a class="nav-link" href="/pembimbing/bimbingan-ta">Bimbingan TA</a>
                    </nav>
                </div>
                <a class="nav-link" href="/pembimbing/jadwal">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Jadwal
                </a>
                <a class="nav-link" href="panduan.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Panduan
                </a>
            </div>
        </div>
    </nav>
</div>