
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-success" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav ">
                    <a class="nav-link " href="/mhs">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                   
                    <a class="nav-link  " href="/mhs/pembimbing">
                        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Pembimbing
                          
                        
                    </a>
                    <a class="nav-link" href="/mhs/pengajuan-judul">
                        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                        Pengajuan Judul
                    </a>
                    <a class="nav-link" href="/mhs/proposal">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Proposal
                    </a>
                  
                    <a class="nav-link" href="/mhs/ta">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Tugas Akhir
                    </a>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Pendaftaran
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-table"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="seminarproposal.html">Seminar Proposal</a>
                            <a class="nav-link" href="sidangskripsi.html">Sidang Skripsi</a>
                        </nav>
                    </div>
                    <a class="nav-link" href="bukupanduan.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Buku Panduan
                    </a>
                    <a class="nav-link" href="formulir.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Formulir
                    </a>
                </div>
            </div>
        </nav>
    </div>

    