{% extends 'main-pembimbing.html' %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Permintaan Bimbingan</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Mahasiswa</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div>
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Data Permintaan Bimbingan
            </div>
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel">Detail Data</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="modal-title mb-3">
                                <h5 class="modal-title" id="exampleModalToggleLabel">Data Diri Mahasiswa</h5>
                            </div>
                            
                            <fieldset disabled>
                                <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
                                    <div class="mx-3">
                                        <label for="disabledTextInput" class="form-label">Nama</label>
                                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                    </div>
                                </div>
                                <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
                                    <div class="mx-3">
                                        <label for="disabledTextInput" class="form-label">NIM</label>
                                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                    </div>
                                </div>
                                <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
                                    <div class="mx-3">
                                        <label for="disabledTextInput" class="form-label">Fakultas</label>
                                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                    </div>
                                </div>
                                <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
                                    <div class="mx-3">
                                        <label for="disabledTextInput" class="form-label">Prodi</label>
                                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                    </div>
                                </div>
                                <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
                                    <div class="mx-3">
                                        <label for="disabledTextInput" class="form-label">Pembimbing 1</label>
                                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                    </div>
                                </div>
                                <div class="form-floating mb-3" style="display: inline-block; width: 48%;">
                                    <div class="mx-3">
                                        <label for="disabledTextInput" class="form-label">Pembimbing 2</label>
                                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                    </div>
                                </div>
                                
                            </fieldset>
                            <hr>
                            
                            
                            <div class="modal-title mt-3 mb-3">
                                <h5 class="modal-title" id="exampleModalToggleLabel">Riwayat Bimbingan</h5>
                            </div>
                            <fieldset disabled>
                                <div class="mb-3">
                                    <label for="disabledTextInput" class="form-label">Judul Tugas AKhir</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                </div>
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Abstrak</label>
                                    <textarea class="form-control" id="message-text"></textarea>
                                </div>
                            </fieldset>
                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                                <label class="btn btn-outline-transparant" for="btncheck1"><span><i class="fas fa-file-download"></i></span> <span>file proposal</span></label>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">+ Revisi</button>
                                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Approve</button>
                            </div>
                           <hr>
                            <div class="modal-title mt-3 mb-3">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">Riwayat Bimbingan</h5>
                                    </div>
                                    <fieldset disabled>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Bimbingan tanggal 10 November 2021</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Bimbingan tanggal 50 November 2021</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Bimbingan tanggal 70 November 2021</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                        </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Preview</button>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Next</button>
                    </div>
                  </div>
                </div>
            </div>
            
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead style="background-color: #198754">
                        <tr>
                            <th style="width: 15%; text-align: center; color: aliceblue;">Nama</th>
                            <th style="width: 7%; text-align: center; color: aliceblue;">NIM</th>
                            <th style="width: 20%; text-align: center; color: aliceblue;">JUDUL</th>
                            <th style="width: 13%; text-align: center; color: aliceblue">PEMBIMBING 1</th>
                            <th style="width: 13%; text-align: center; color: aliceblue">PEMBIMBING 2</th>
                            <th style="width: 11%; text-align: center; color: aliceblue">JADWAL SIDANG</th>
                            <th style="width: 7%; text-align: center; color: aliceblue">STATUS</th>
                            <th style="width: 5%;text-align: center; color: aliceblue">AKSI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>

                                <div class="d-flex flex-column">
        
                                    <!-- <div class="mx-3" > -->
    
                                        <a class="btn btn-success mb-1" data-bs-toggle="modal" href="#exampleModalToggle" type="button"><span>
                                               <i class="" aria-hidden="true"></i>
                                        </span><span>
                                        Detail
                                        </span></a>
                                    <!-- </div> -->
                                    <div class="d-flex flex-column">
                                        <button type="button" class="btn btn-warning mb-1">Edit</button>
                                        <button type="button" class="btn btn-primary">Approve</button>
                                    </div>
                                </div>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}