{% extends 'main-pembimbing.html' %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Pengajuan Judul</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Pengajuan Judul</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead style="background-color: #198754">
                        <tr>
                            <th style="width: 15%; text-align: center; color: aliceblue;">Nama</th>
                            <th style="width: 7%; text-align: center; color: aliceblue;">NIM</th>
                            <th style="width: 20%; text-align: center; color: aliceblue;">JUDUL 1</th>
                            <th style="width: 5%; text-align: center; color: aliceblue">AKSI</th>
                            <th style="width: 20%; text-align: center; color: aliceblue">JUDUL 2</th>
                            <th style="width: 5%;text-align: center; color: aliceblue">AKSI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}
