{% extends 'main-pembimbing.html' %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Pengajuan TA</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Pengajuan</a></li>
            <li class="breadcrumb-item active">Pengajuan TA</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                ....
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Data Pengajuan TA
            </div>
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel">Detail Data Pengajuan TA</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <fieldset disabled>
                                <div class="mb-3">
                                    <label for="disabledTextInput" class="form-label">Nama</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                  </div>
                                <div class="mb-3">
                                    <label for="disabledTextInput" class="form-label">Nim</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                  </div>
                                <div class="mb-3">
                                    <label for="disabledTextInput" class="form-label">Judul</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                  </div>
                                <div class="mb-3">
                                    <label for="disabledTextInput" class="form-label">Feedback</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                                  </div>
                            </fieldset>
                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                                <label class="btn btn-outline-transparant" for="btncheck1"><span><i class="fas fa-file-download"></i></span> <span>file proposal</span></label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Tolak</button>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Setuju</button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead style="background-color: #198754">
                        <tr>
                            <th style="width: 15%; text-align: center; color: aliceblue;">Nama</th>
                            <th style="width: 7%; text-align: center; color: aliceblue;">NIM</th>
                            <th style="width: 20%; text-align: center; color: aliceblue;">JUDUL</th>
                            <th style="width: 5%;text-align: center; color: aliceblue">AKSI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>

                                <div class="d-flex justify-content-between ">
        
                                    <div class="mx-3" >
    
                                        <a class="btn btn-success" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><span>
                                               <i class="" aria-hidden="true"></i>
                                        </span><span>
                                        Lihat Data
                                        </span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}