<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .gradient-custom {
        
        background: #00C187;     
        background: -webkit-linear-gradient(to right, #00C187(106, 17, 203, 1), #00C187(37, 117, 252, 1));
        background: linear-gradient(to right, #00C187ba(106, 17, 203, 1), #00C187(37, 117, 252, 1))
        }


    </style>
</head>
<body>
    <section class="vh-50 gradient-custom">
        <div class="container py-5 h-20">
          <div class="row d-flex justify-content-center align-items-center h-20">
            <div class="col-0 col-md-5 col-lg-3 col-xl-5">
              <div class="card bg-white text-drak" style="border-radius: 2rem;">
                <div  class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-0 text-uppercase">Simta</h2>
                    <p class="text-drak-50 mb-10">silakan login !</p>
      
                    <div class="form-outline form-drak mb-0">
                        <label class="form-label" for="typeEmailX">Email</label>
                      <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                    </div>
      
                    <div class="form-outline form-drak mb-0">
                        <label class="form-label" for="typePasswordX">Password</label>
                      <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                    </div>
      
                    <p class="small mb-2 pb-lg-2"><a class="text-drak-50" href="#!">Forgot password?</a></p>
      
                    <button class=" btn-outline-drak px-2 btn-primary border-radius-3rem" type="submit">Login</button>              
                     <div>
                    <p class="mb-0">ape lu? <a href="#!" class="text-drak-50 fw-bold">ngerii rek</a></p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>