
    <div id="layoutSidenav_nav justify-content-">
        <nav class="sb-sidenav accordion sb-sidenav-succes" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" href="/tendik">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                   
                    <a class="nav-link" href="/tendik/pembimbing">
                        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                        Pembimbing
                    </a>
                    <a class="nav-link" href="/tendik/mahasiswa">
                        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                        Mahasiswa
                    </a>
                    <a class="nav-link" href="/tendik/pengajuan-judul">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Pengajuan Judul
                    </a>
                    <a class="nav-link" href="/tendik/proposal">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Proposal
                    </a>
                    <a class="nav-link" href="/tendik/tugas-akhir">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Tugas Akhir
                    </a>
                    <!-- dropdown -->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Jadwal
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-table"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/tendik/jadwal-bimbingan">Bimbingan</a>
                            <a class="nav-link" href="/tendik/jadwal-sidang">Sidang</a>
                        </nav>
                    </div>
                    <!-- end dropdown -->

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Kelola Bimbingan
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-table"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/tendik/kelola-bimbingan-mahasiswa">Mahasiswa Bimbingan</a>
                            <a class="nav-link" href="/tendik/kelola-bimbingan-dosen">Dosen Pembibmbing</a>
                        </nav>
                    </div>
            </div>
        </nav>
    </div>