{% extends 'main.html' %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Mahasiswa</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Mahasiswa</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between card-header">
                <div class="">
                    <i class="fas fa-table me-1"></i>                   
                        Data Mahasiswa                       
                </div>
                
                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalToggleLabel">Tambah data Mahasiswa</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="">
                            {% csrf_token%}
                                <div class="mb-3">
                                  <label for="exampleInputNim" class="form-label">Nama</label>
                                  <input name="nama" value="{{tabel_mhs.nama}}" type="text" class="form-control" id="exampleInputNim" aria-describedby="NimHelp">
                                  
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputnama" class="form-label">Nim</label>
                                  <input name="nim" value="{{tabel_mhs.nim}}" type="number" class="form-control">
                                  
                                </div>
                                <select name="prodi" class="mb-3 form-select" aria-label="Default select example">
                                    <option selected>Program Studi</option>
                                    <option value="Informatika">Informatika</option>
                                    <option value="Teknik Komputer">Teknik Komputer</option>
                                    <option value="Bahasa Inggris">Bahasa Inggris</option>
                                  </select>
                                <select name="fakultas" class="mb-3 form-select" aria-label="Default select example">
                                    <option selected>Fakultas</option>
                                    <option value="FTI">FTI</option>
                                    <option value="FIP">FIP</option>
                                    <option value="FE">FE</option>
                                  </select>
                                <div class="mb-2">
                                  <label for="exampleInputnama" class="form-label">Kelas</label>
                                  <input name="kelas" value="{{tabel_mhs.kelas}}" type="text" class="form-control" id="exampleInputnama" aria-describedby="namaHelp">
                                  
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputnama" class="form-label">Semester</label>
                                  <input name="semester" value="{{tabel_mhs.semester}}" type="text" class="form-control" id="exampleInputnama" aria-describedby="namaHelp">
                                  
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputnama" class="form-label">Tahun Masuk</label>
                                  <input name="tahun_masuk" value="{{tabel_mhs.tahun_masuk}}" type="text" class="form-control" id="exampleInputnama" aria-describedby="namaHelp">
                                  
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Close</button>
                                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Submit</button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
                 <div>
                     <div>
                         <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><span>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </span><span>
                            Tambah data
                        </span></a>
                     </div>
                    
                 </div>
            
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead style="background-color: #198754">
                        <tr>
                            <th style="width: 3%; text-align: center; color: aliceblue;">NO</th>
                            <th style="width: 15%; text-align: center; color: aliceblue;">Nama</th>
                            <th style="width: 7%; text-align: center; color: aliceblue;">NIM</th>
                            <th style="width: 12%; text-align: center; color: aliceblue;">PROGRAM STUDI</th>
                            <th style="width: 12%; text-align: center; color: aliceblue">FAKULTAS</th>
                            <th style="width: 7%; text-align: center; color: aliceblue">KELAS</th>
                            <th style="width: 10%; text-align: center; color: aliceblue">SEMESTER</th>
                            <th style="width: 12%; text-align: center; color: aliceblue">TAHUN MASUK</th>
                            <th style="width: 5%;text-align: center; color: aliceblue">AKSI</th>
                        </tr>
                    </thead>
                  
                    <tbody>
                        {% for i in tabel_mhs  %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.nama}}</td>
                            <td>{{i.nim}}</td>
                            <td>{{i.prodi}}</td>
                            <td>{{i.fakultas}}</td>
                            <td>{{i.kelas}}</td>
                            <td>{{i.semester}}</td>
                            <td>{{i.tahun_masuk}}</td>
                            <td class="d-flex justify-content">
                                

                                    <a id="exampleModalToggleLabel" href="mahasiswa/editmahasiswa/{{i.id}}" class="" >
                                        <i class="far fa-edit mx-2" style="color:black"></i>
                                    </a>
                                    <a href="mahasiswa/delete/{{i.id}}">
                                        <i class="far fa-trash-alt " style="color:black"></i>
                                    </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}