{% extends 'main.html' %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Pembimbing</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Pembimbing</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Data Dosen Pembimbing
            </div>

            <div class="card-header d-flex justify-content-between card-header">
                <div class="">
                    <i class="fas fa-table me-1"></i>
                   
                        proposal     
                   
                </div>
                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalToggleLabel">Tambah data pembimbing</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                            {% csrf_token %}
                                <div class="mb-3">
                                  <label for="exampleInputNim" class="form-label">nama</label>
                                  <input name="nama" type="integer" class="form-control" id="exampleInputNim" aria-describedby="NimHelp">
                                  
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputnama" class="form-label">Nip</label>
                                  <input name="nip" type="text" class="form-control" id="exampleInputnama" aria-describedby="namaHelp">
                                  
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputnama" class="form-label">NIDN</label>
                                  <input type="text" class="form-control" id="exampleInputnama" aria-describedby="namaHelp">
                                  
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputnama" class="form-label">NPWP</label>
                                  <input type="text" class="form-control" id="exampleInputnama" aria-describedby="namaHelp">
                                  
                                </div>
                                <div class="mb-3">
                                  <label for="exampleInputnama" class="form-label">NO.HP</label>
                                  <input type="text" class="form-control" id="exampleInputnama" aria-describedby="namaHelp">
                                  
                                </div>
                                <select class="mb-3 form-select" aria-label="Default select example">
                                    <option selected>program studi</option>
                                    <option value="1">informatika</option>
                                    <option value="2">teknik komputer</option>
                                    <option value="3">bahasa inggris</option>
                                  </select>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">close</button>
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                 <div>
                     <div>
                         <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><span>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </span><span>
                            Tambah data
                        </span></a>
                     </div>
                    
                 </div>
            
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead style="background-color: #198754">
                        <tr>
                            <th style="width: 15%; text-align: center; color: aliceblue;">NAMA</th>
                            <th style="width: 7%; text-align: center; color: aliceblue;">NIP</th>
                            <th style="width: 10%; text-align: center; color: aliceblue;">NIDN</th>
                            <th style="width: 10%; text-align: center; color: aliceblue">NPWP</th>
                            <th style="width: 10%; text-align: center; color: aliceblue">NO.HP</th>
                            <th style="width: 10%; text-align: center; color: aliceblue">PROGRAM STUDI</th>
                            <th style="width: 5%;text-align: center; color: aliceblue">AKSI</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        <tr>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td>wahma ravanna rafail</td>
                            <td class="d-flex justify-content">
                                

                                    <a href="" class="" >
                                        <i class="far fa-edit mx-2" style="color:black"></i>
                                    </a>
                               

                                    <a href="">
                                        <i class="far fa-trash-alt " style="color:black"></i>
                                    </a>
                                

                                   
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}