{% extends 'main.html' %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Pengajuan Judul</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Mahasiswa</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <table id="datatablesSimple"  >
                    <thead style='background-color:#157347'>
                        <thead style="background-color: #198754">
                            <tr>
                                <th style="width: 15%; text-align: center; color: aliceblue;">Nama</th>
                                <th style="width: 7%; text-align: center; color: aliceblue;">NIM</th>
                                <th style="width: 20%; text-align: center; color: aliceblue;">Pembinbing 1</th>
                                <th style="width: 20%; text-align: center; color: aliceblue;">Pembinbing 2/th>
                                <th style="width: 13%; text-align: center; color: aliceblue">Judul 1 </th>
                                <th style="width: 13%; text-align: center; color: aliceblue">Judul 2 </th>
                                <th style="width: 13%; text-align: center; color: aliceblue">Judul revisi </th>
                                <th style="width: 11%; text-align: center; color: aliceblue">Semester</th>
                                <th style="width: 5%;text-align: center; color: aliceblue">Status</th>
                            </tr>
                        </thead>
                        
                    <tbody>
                    
                        <tr>
                           <td>yasin</td>
                           <td>12345678</td>
                           <td>rizal</td>
                           <td>rizal</td>
                           <td>sistem informasi monitoring tugas akhir</td>
                           <td>sistem informasi monitoring tugas akhir</td>
                           <td>sistem informasi monitoring tugas akhir</td>
                           <td>
                               <a href=""> Judul 1 diterimah</a>
                           </td>
                        </tr>
                    
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}