{% extends 'main.html' %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tugas akhir</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Mahasiswa</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead style='background-color:#157347'>
                        <tr>
                            <th>NO</th>
                            <th>Nama</th>
                            <th>Nim</th>
                            <th>pembimbing11</th>
                            <th>pembimbing2</th>
                            <th>judul</th>
                            <th>Buku TA</th>
                            <th> Status</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr>
                           <td>1</td>
                           <td>Rizal</td>
                           <td>1234567678</td>
                           <td>yasin</td>
                           <td>vena</td>
                           <td>sistem monitoring tugas akhir</td>
                           <td class="text-center">
                            <a href="">
                                <i class="fas fa-file-download" style="color: black;"></i>
                            </a>
                           </td>
                           <td>
                               <a href="">Revisi</a>
                            </td>
                        </tr>
                   
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}