{% extends 'base.html' %}

{% block content %}

<main class="form-signin">
  
  
    <h1 class="h3 mb-3 fw-normal text-center">Silakan login</h1>

    <span class="mb-0 text-muted">
      {% if msg %}
          {{ msg | safe }}
      {% else %}
          <!-- Login page -->
      {% endif %}
    </span>
      <form  method="post">
          {% csrf_token %}
        <div class="form-group first">
          <label for="username">Username</label>
            {{ form.username }}
        </div>
        <div class="form-group last mb-4">
          <label for="username">Password</label>
          {{ form.password }}
          <h6 toggle="#password-field" class="fa fa-eye fa-lg show-hide" id="togglePassword"></h6>
          

    
          
        </div>


  

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    <p class="mt-5 mb-3 text-center">&copy; 2021–2024</p>

</main>

    <script>
      $(".show-hide").click(function () {
 
 $(this).toggleClass("fa-eye fa-eye-slash");
 var input = $($(this).attr("toggle"));
 if (input.attr("type") == "password") {
     input.attr("type", "text");
 } else {
     input.attr("type", "password");
 }
});
    </script>
{% endblock %}