{% extends 'base.html' %}

{% block content %}
<main class="form-signin">
  <form>
   
    <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

    <span class="mb-0 text-muted">
      {% if msg %}
          {{ msg | safe }}
      {% else %}
          <!-- Login page -->
      {% endif %}
    </span>
      <form  method="post">
          {% csrf_token %}
        <div class="form-group first">
          <label for="username">Username</label>
            {{ form.username }}
        </div>
        <div class="form-group last mb-4">
          <label for="username">Password</label>
          {{ form.password }}
          
        </div>


    <!-- <div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div> -->

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-center">&copy; 2017–2021</p>
</form>
</main>

<!-- <div class="content">
    <div class="container">
      <div class="row justify-content-center">
      <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <!-- <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                </div>

              <span class="mb-0 text-muted">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Login page
                {% endif %}
              </span>
                <form  method="post">
                    {% csrf_token %}
                  <div class="form-group first">
                    <label for="username">Username</label>
                      {{ form.username }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="username">Password</label>
                    {{ form.password }}
                  </div>

                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                      <input type="checkbox" checked="checked"/>
                      <div class="control__indicator"></div>
                    </label>
                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                  </div>

                  <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">
                </form>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div> -->
{% endblock %}